{% extends 'base.html.twig' %}

{% block title %}Gestion des BPU{% endblock %}

{% block page_wrapper_class %}flex flex-col flex-1{% endblock %}
{% block body %}
<div data-controller="collection-bpus"
     class="page-bpu-wrapper flex flex-col flex-1 bg-white shadow sm:rounded-lg" 
     style="padding:0; margin:0; min-height:0;" data-collection-bpus-affaire-id-value="{{ affaire.id }}"
     data-collection-bpus-types-value='{{ bpuTypes|json_encode(constant("JSON_HEX_APOS")) }}'
     data-collection-bpus-categories-value='{{ bpuCategories|json_encode(constant("JSON_HEX_APOS")) }}'>
    <div class="flex items-start space-x-3 px-3 pt-3 pb-2">
        <a href="{{ path('affaire_show', {id: affaire.master.id}) }}" class="inline-flex items-center text-gray-600 hover:text-gray-800 underline text-sm">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="none" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7 7-7" />
            </svg>
            Retour
        </a>
        <div class="min-w-0 flex-1 pl-2">
            <h2 class="text-lg font-bold leading-6 text-gray-900 sm:truncate">BPU - <span style="color: #c99b64;">{{ affaire.master.code }}</span></h2>
            <p class="mt-0.5 text-sm font-semibold" style="color: #c99b64;">{{ affaire.master.client.nom }}</p>
        </div>
        <div class="pr-3 pt-1">
            <button data-action="collection-bpus#reload" class="mr-2 inline-flex items-center rounded-md bg-white py-1 px-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Recharger</button>
            <button data-action="collection-bpus#save" class="btn inline-flex items-center rounded-md py-1 px-2 text-sm font-semibold text-white shadow-sm">Sauvegarder</button>
        </div>
    </div>

    <div class="flex-1 flex flex-col overflow-hidden">
        {# Token CSRF caché pour les requêtes AJAX (utilisé par collection-bpus_controller.js) #}
        <input type="hidden" name="_csrf_token" id="bpu_csrf_token" value="{{ csrf_token('submit') }}">

        <div id="bpu-hot" data-collection-bpus-target="tableurContainer" class="w-full flex flex-col flex-1 min-h-0"></div>
    </div>
</div>

{% endblock %}